body,
html {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	height: 100vh;
	width: 100vw;
	background-color: #0fa4df
}
.btttn3dd {
	font-size: small;
	text-align: center;
	padding: 5px 5px;
	border: none;
	border-radius: 8px;
	text-decoration: none;
	display: inline-block;
	margin-bottom: 9px;
	background-color: #f5f6fa;
	color: #2C3A47;
	box-shadow: 0 9px 0 #e4e7f2, 0 9px 25px rgba(0, 0, 0, .7)
}
.btttn3dd:active {
	position: relative;
	top: 6px;
	box-shadow: 0 3px 0 #e4e7f2, 0 3px 6px rgba(0, 0, 0, .7)
}
.btttn3dd_subhajit {
	background-color: #5507bb;
	color: #fff;
	box-shadow: 0 9px 0 #8d6fb4, 0 9px 25px rgba(0, 0, 0, .7)
}
.btttn3dd_subhajit:active {
	position: relative;
	top: 6px;
	box-shadow: 0 3px 0 #20638f, 0 3px 6px rgba(0, 0, 0, .7)
}
#mainpart {
	margin: 0;
	height: 100vh;
	width: 100vw;
	position: relative;
	min-height: 100%;
}
#menupart {
	margin: 0;
	position: relative;
	height: 40vh;
	width: 100vw;
}
#footerdiv {
	position: sticky;
	margin-top: 5vh;
	height: 10vw;
	width: 100vw;
	background-color: #000;
	text-align: center;
	color: gray
}
#p1g2,
#p1g1,
#p1g3,
#p1g4 {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: red;
	border: 1px solid #000;
	color: red;
	z-index: 3
}
#p2g1,
#p2g2,
#p2g3,
#p2g4 {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: yellow;
	border: 1px solid #000;
	z-index: 3
}
#p3g1,
#p3g2,
#p3g3,
#p3g4 {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: blue;
	border: 1px solid #000;
	color: blue;
	z-index: 3
}
#p4g1,
#p4g2,
#p4g3,
#p4g4 {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: green;
	border: 1px solid #000;
	z-index: 3
}
#dice0,
#dice1,
#dice2,
#dice3,
#animedice0,
#animedice1,
#animedice2,
#animedice3 {
	position: absolute;
	width: 40px;
	height: 40px;
	border: 2px solid #000;
	border-radius: 35%;
	background-color: #000;
	transform-style: preserve-3d
}
#playbutton {
	display: inline-block;
	margin-top: 5px;
	margin-left: 10vw;
	margin-bottom: 5px;
	width: 80%;
	padding: 15px 25px;
	font-size: 3vh;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: red;
	border: none;
	border-radius: 15px;
	box-shadow: 0 8px #999
}
playbutton:hover {
	background-color: #8e7b3e
}
playbutton:active {
	background-color: #4090b6;
	box-shadow: 0 5px #666;
	transform: translateY(4px)
}

#helpbutton {
	position: relative;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: auto;
	height: 10vh;
	left: 70vw;
	top: 3px;
	display: inline-block
}
#chatbutton {
	position: relative;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: auto;
	height: 10vh;
	left: 70vw;
	top: 3px;
	display: inline-block
}
#tutorial {
	position: relative;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 35vw;
	height: 10vh;
	left: 10vw;
	top: 3px;
	display: inline-block
}
.image-resize {
	display: block;
	width: 100%;
	padding-top: 0%;
	object-fit: contain;
	object-position: center center
}
.modal-bg {
	position: absolute;
	top: 0;
	left: 5px;
	display: none;
	text-align: center;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	overflow-y: scroll;
	z-index: 10;
	height: 100%
}
.bg-active {
	visibility: visible;
	height: auto;
	opacity: 1
}
.modal {
	top: 0;
	left: 0;
	background-color: #a39a16;
	display: inline-block;
	justify-content: center;
	align-items: center;
	width: 90%;
	overflow-y: scroll
}
.contentrule {
	overflow: hidden;
	overflow-y: scroll
}
#closebutton {
	position: fixed;
	width: 10vw;
	border-radius: 20%;
	background-color: rgb(65, 4, 4);
	color: #fff
}
#pgrbarcont {
	background-color: #fff;
	height: 10px;
	padding: 1px;
	width: 100%;
	border: 1px solid orangered
}
#prgcolor {
	height: 10px;
	width: 0%;
	background-color: orangered
}
@media only screen and (max-width: 560px) {
	body {
		overflow: visible;
		height: auto
	}
}